@page "/about-the-school/{id:int}"
@using Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Models
@using Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.TagHelpers
@model Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Pages.AboutTheSchool.IndexModel
@{
    Model.SetErrorPage(Links.SchoolList.Index.Page);
    ViewData["Title"] = "About the school";
}

@section BeforeMain
{
   <a asp-page="@Model.ReturnPage"  class="govuk-back-link">@Links.SchoolList.Index.BackText</a>
}


    <partial name="_ErrorSummary" />


<partial name="_ProjectHeader" model="Model.SupportProject" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-test="prepare-project-doc">School details</h2>
        <dl class="govuk-summary-list">
            <govuk-summary-list-row name="school-name" label="School name" asp-for="@Model.SupportProject.SchoolName"/>
            <govuk-summary-list-row name="urn" label="URN" asp-for="@Model.SupportProject.SchoolUrn"/>
            <govuk-summary-list-row name="trust" label="Trust" value="Not Applicable"/>
            <govuk-summary-list-row name="local-authority" label="Local authority" asp-for="@Model.SupportProject.LocalAuthority"/>
            <govuk-summary-list-row name="region" label="Region" asp-for="@Model.SupportProject.Region"/>
        </dl>
    </div>
</div>