@page "/task-list/choose-preferred-supporting-organisation/{id:int}"
@model DfE.ManageSchoolImprovement.Frontend.Pages.TaskList.ChoosePreferredSupportingOrganisation.IndexModel

@{
    ViewData["Title"] = "Choose preferred supporting organisation";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l">
            Choose preferred supporting organisation
        </h1>
        <p class="govuk-body">The support organisation is not confirmed until the school and regional director both agree to the choice.</p>
        
        <form method="post" novalidate>
            <govuk-text-input heading-label="true" label="Name" id="organisation-name" name="organisation-name" asp-for="@Model.OrganisationName" width="30"/>
            <govuk-text-input heading-label="true" label="ID number" hint="If the supporting organisation is a trust, enter the UKPRN. If it is a local authority, enter its LAESTAB." id="id-number" name="id-number" asp-for="@Model.IdNumber" width="30"/>
            <govuk-date-input heading-label="false" label="Enter date preferred supporting organisation chosen" id="date-support-organisation-chosen" name="date-support-organisation-chosen" asp-for="@Model.DateSupportOrganisationChosen" hint="For example, 1 7 2024."/>
            <button class="govuk-button" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                Save and return
            </button>
        </form>
    </div>
</div>
