@page "/task-list/record-supporting-organisation-appointment/{id:int}"
@model IndexModel
@{
    ViewData["Title"] = "Record supporting organisation appointment";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

@if (Model.ShowError)
{
   <partial name="_ErrorSummary"/>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Record supporting organisation appointment
        </h1>
        <form method="post" novalidate>
            <p class="govuk-body" data-cy="instruction-to-adviser">Confirm if a regional director has given their approval to appoint this supporting organisation.</p>
            <govuk-radiobuttons-input heading="Has a regional director approved the appointment of this supporting organisation?" heading-style="govuk-fieldset__legend--m" hint="If approval has not been given, add a note to explain why."
                                      name="@nameof(Model.HasConfirmedSupportingOrgnaisationAppointment)" radio-buttons="@Model.RadioButtoons" asp-for="@Model.HasConfirmedSupportingOrgnaisationAppointment" />
            <govuk-date-input heading-label="false" label="Enter date the regional director made this appointment" id="appointment-date" name="appointment-date" asp-for="@Model.RegionalDirectorAppointmentDate" hint="For example, 1 7 2024." />
            <button class="govuk-button" type="submit" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                Save and return
            </button>
        </form>
    </div>
</div>
