@page "/task-list/add-supporting-organisation-contact-details/{id:int}"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.TaskList.AddSupportingOrganisationContactDetails.IndexModel

@{
    ViewData["Title"] = "Add supporting organisation contact details";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l">
            Add supporting organisation contact details
        </h1>
        <p class="govuk-body">Enter contact details for the accounting officer at the trust, or their equivalent if the supporting organisation is not a trust.</p>
        
        <form method="post" novalidate>
            <govuk-text-input heading-label="true" label="Name" id="name" hint="Enter the person's first and last name." name="name" asp-for="@Model.Name" width="30"/>
            <govuk-text-input heading-label="true" label="Email address" id="email-address" name="email-address" asp-for="@Model.EmailAddress" width="30"/>
            <govuk-date-input heading-label="false" label="Enter date the supporting organisation contact details were added" id="date-supporting-organisation-details-added" name="date-supporting-organisation-details-added" asp-for="@Model.DateSupportingOrganisationDetailsAdded" hint="For example, 1 7 2024."/>
            <button class="govuk-button" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                Save and return
            </button>
        </form>
    </div>
</div>
