@page "/task-list/send-introductory-email/{id:int}"
@model Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Pages.TaskList.SendIntroductoryEmail.IndexModel
@{
    ViewData["Title"] = "Send introductory email";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Send introductory email
        </h1>
        <p class="govuk-body" data-cy="instruction-to-advisor">The advisor should email the school to introduce themselves to the school's responsible body.</p>
        <form method="post" novalidate>
            <govuk-checkbox-input label="Share email template with advisor" id="share-email-template-with-advisor" name="share-email-template-with-advisor" asp-for="@Model.HasShareEmailTemplateWithAdvisor" />
            <govuk-checkbox-input label="Remind the advisor to copy in the RISE team when they send the email" id="remind-advisor-to-copy-in-rise-team-on-email-sent" name="remind-advisor-to-copy-in-rise-team-on-email-sent" asp-for="@Model.RemindAdvisorToCopyRiseTeamWhenSentEmail" />
            <govuk-date-input heading-label="false" label="Enter date the introductory email was sent" id="introductory-email-sent-date" name="introductory-email-sent-date" asp-for="@Model.IntroductoryEmailSentDate" hint="For example, 1 7 2024." />
            <button class="govuk-button" type="submit" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                Save and return
            </button>
        </form>
    </div>
</div>
