@page "/task-list/{id:int}"
@using Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Models
@using Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.TagHelpers
@model Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Pages.TaskList.IndexModel
@{
    Model.SetErrorPage(Links.SchoolList.Index.Page);
    ViewData["Title"] = "Task List";
}

@section BeforeMain
{
    <a asp-page="@Model.ReturnPage" class="govuk-back-link">@Links.SchoolList.Index.BackText</a>
}


<partial name="_ErrorSummary" />


<partial name="_ProjectHeader" model="Model.SupportProject" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-test="prepare-project-doc">Task list</h2>
        <h3 class="app-task-list__section govuk-!-margin-top-8">Begin the project</h3>
        <div class="app-task-list">
            <ul class="app-task-list__items govuk-!-padding-left-0">
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.ContactTheSchool.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="confirm_project_dates-status" data-cy="confirm_project_dates">
                            Contact the school
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.ContactTheSchoolTaskListStatus" />
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.RecordTheSchoolResponse.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="record-school-response-status" data-cy="record-school-response">
                            Record the school's response
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.RecordTheSchoolResponseTaskListStatus" />
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.CheckPotentialAdviserConflictsOfInterest.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="chck-potential-adviser-coi-status" data-cy="CheckPotentialAdviserConflictsOfInterest">
                            Check potential adviser conflicts of interest
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.CheckThePotentialAdviserConflictsOfInterestTaskListStatus" />
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.AssignAnAdviser.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="assign-adviser-status" data-cy="AssignAdviser">
                            Assign an adviser
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.AssignAdviserTaskListStatus" />
                </li>
            </ul>
        </div>
        <h3 class="app-task-list__section govuk-!-margin-top-8">Establish support needs</h3>
        <div class="app-task-list">
            <ul class="app-task-list__items govuk-!-padding-left-0">
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.SendIntroductoryEmail.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="send-introductory-email-request-improvement-plan-status" data-cy="send-introductory-email-request-improvement-plan">
                            Send introductory email
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.SendIntroductoryEmailTaskListStatus" />
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.ArrangeAdviserVisitToSchool.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="adviser-school-visit-status" data-cy="adviser-school-visit">
                            Arrange adviser visit to school
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.AdviserVisitToSchoolTaskListStatus" />
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.RecordVisitDateToVisitSchool.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="record-school-visit-date" data-cy="record-school-visit-date">
                            Record date of visit to school
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.RecordVisitDateToVisitSchoolTaskListStatus" />
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-note-of-visit">
                        <a class="govuk-link" asp-page="@Links.TaskList.NoteOfVisit.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="la-note-of-visit" data-cy="note-of-visit">
                            Write and save the Note of Visit
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.NoteOfVisitTaskListStatus" />
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.CompleteAndSaveAssessmentTemplate.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="complate-save-assessment-template-status" data-cy="complate-save-assessment-template">
                            Complete and save the assessment template
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.CompleteAndSaveAssessmentTemplateTaskListStatus" />
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.RecordSupportDecision.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="record-support-decision-status" data-cy="record-support-decision">
                            Record support decision
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.RecordSupportDecisionTaskListStatus" />
                </li>
            </ul>
        </div>
        <h3 class="app-task-list__section govuk-!-margin-top-8">Find possible supporting organisation</h3>
        <div class="app-task-list">
            <ul class="app-task-list__items govuk-!-padding-left-0">
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.ChoosePreferredSupportingOrganisation.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="la-info-template-status" data-cy="choose-preferred-supporting-organisation">
                            Choose preferred supporting organisation
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.ChosePreferredSupportingOrganisationTaskListStatus" />
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.DueDiligenceOnPreferredSupportingOrganisation.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="due-diligence-status" data-cy="due-diligence-on-preferred-supporting-organisation">
                            Carry out due diligence on preferred supporting organisation
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.DueDiligenceOnPreferredSupportingOrganisationTaskListStatus" />
                </li>
            </ul>
        </div>
    </div>
</div>