@page "/task-list/{id:int}"
@using Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Models
@using Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.TagHelpers
@model Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Pages.TaskList.IndexModel
@{
    Model.SetErrorPage(Links.SchoolList.Index.Page);
    ViewData["Title"] = "Task List";
}

@section BeforeMain
{
   <a asp-page="@Model.ReturnPage"  class="govuk-back-link">@Links.SchoolList.Index.BackText</a>
}


    <partial name="_ErrorSummary" />


<partial name="_ProjectHeader" model="Model.SupportProject" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-test="prepare-project-doc">Task list</h2>
        <h3 class="app-task-list__section govuk-!-margin-top-8">Begin the project</h3>
        <div class="app-task-list">
            <ul class="app-task-list__items govuk-!-padding-left-0">
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.ContactTheSchool.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="la-info-template-status" data-cy="confirm_project_dates">
                            Contact the school
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.ContactTheSchoolTaskListStatus" />
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name" data-cy="task-name">
                        <a class="govuk-link" asp-page="@Links.TaskList.CheckPotentialAdviserConflictsOfInterest.Page" asp-route-id="@Model.SupportProject.Id" aria-describedby="la-info-template-status" data-cy="CheckPotentialAdviserConflictsOfInterest">
                            Check potential adviser conflicts of interest
                        </a>
                    </span>
                    <partial name="Shared/_TaskListStatus" model="@Model.CheckThePotentialAdviserConflictsOfInterestTaskListStatus" />
                </li>
            </ul>
        </div>
    </div>
</div>