@page "/task-list/record-the-school-response/{id:int}"
@model Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Pages.TaskList.RecordTheSchoolResponse.IndexModel
@{
    ViewData["Title"] = "Record the school Response";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l">
            Record the school's response
        </h1> 

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <p class="govuk-body">Confirm if the school wants to get targeted support or not.</p>
                    <govuk-radiobuttons-input name="@nameof(Model.HasAcceeptedTargetedSupport)" radio-buttons="@Model.TargetedSupportRadioButtoons" asp-for="@Model.HasAcceeptedTargetedSupport" />
                    <govuk-checkbox-input heading="Save the schools response in SharePoint" heading-style="govuk-fieldset__legend--m" label="School's response saved in SharePoint" id="has-saved-school-response-in-sharepoint" name="has-saved-school-response-in-sharepoint" asp-for="@Model.HasSavedSchoolResponseinSharePoint" />
                    <govuk-date-input heading-label="false" label="Enter date the school's response was saved in SharePoint" id="school-response-date" name="school-response-date" asp-for="@Model.SchoolResponseDate" hint="For example, 1 1 2025." />
                    <button class="govuk-button" type="submit" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                        Save and return
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
