@page "/task-list/complete-and-save-assesment-template/{id:int}"
@model Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Pages.TaskList.CompleteAndSaveAssessmentTemplate.IndexModel
@{
    ViewData["Title"] = "Complete and save the assessment template";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Complete and save the assessment template
        </h1> 
        <div class="govuk-grid-row ">
            <p class="govuk-body govuk-!-margin-left-3" data-cy="instruction-to-advisor">Work with the advisor to decide whether the school should get targeted support or be monitored for more time first.</p>
        </div>
        <div class="govuk-grid-row"> 
            <div class="govuk-grid-column-three-quarters">
                <form method="post" novalidate> 
                    <govuk-checkbox-input label="Talk to the advisor about their findings from the visit and discussion with the school" id="has-talk-to-advisor" name="has-talk-to-advisor" asp-for="@Model.HasTalkToAdvisor" />
                    <govuk-checkbox-input label-hint="Use the assessment criteria to help make your decision" label="Complete the assessment template" id="complete-assessment-template" name="has-complete-assessment-template" asp-for="@Model.HasCompleteAssessmentTemplate" />
                    <govuk-date-input heading-label="false" label="Enter date assessment template saved in SharePoint" id="saved-assessemnt-template-in-sharepoint-date" name="saved-assessemnt-template-in-sharepoint-date" asp-for="@Model.SavedAssessmentTemplateInSharePointDate" hint="For example, 1 1 2025." />
                    <button class="govuk-button" type="submit" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                        Save and return
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>

