@page "/task-list/send-agreed-improvement-plan-for-approval/{id:int}"
@model Dfe.ManageSchoolImprovement.Frontend.Pages.TaskList.SendAgreedImprovementPlanForApproval.IndexModel
@{
    ViewData["Title"] = "Send the agreed improvement plan for approval";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l" data-cy="school-name">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l" data-cy="page-heading">
            Send the agreed improvement plan for approval
        </h1>
        <p class="govuk-body" data-cy="instruction-to-advisor">Save a copy of the plan in the school's SharePoint folder, then send it to the relevant regional director for approval.</p>
        <form method="post" novalidate>
            <govuk-checkbox-input label="Save agreed improvement plan in SharePoint" id="save-agreed-improvement-plan-in-sp" name="save-agreed-improvement-plan-in-sp" asp-for="@Model.HasSavedImprovementPlanInSharePoint" />
            <govuk-checkbox-input label="Email agreed plan to regional director for approval" id="email-agreed-plan-to-rg" name="email-agreed-plan-to-rg" asp-for="@Model.HasEmailedAgreedPlanToRegionalDirectorForApproval" /> 
            <button class="govuk-button" type="submit" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                Save and return
            </button>
        </form>
    </div>
</div>
