@page "/task-list/note-of-visit/{id:int}"
@using DfE.ManageSchoolImprovement.Frontend.Models.SupportProject
@using Dfe.Academisation.ExtensionMethods
@model NoteOfVisit

@{
    ViewData["Title"] = "Write and save the Note of Visit";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l">
            Write and save the Note of Visit
        </h1>
        <p class="govuk-body">After the visit, the adviser must write up notes from their visit and save them in SharePoint.</p>
        <form method="post" novalidate>
            <govuk-checkbox-input label="Give the adviser the Note of Visit template" id="give-the-adviser-the-note-of-visit-template" name="give-the-adviser-the-note-of-visit-template" asp-for="@Model.GiveTheAdviserTheNoteOfVisitTemplate" />
            <govuk-checkbox-input label="Ask the adviser to send you their notes" id="ask-the-adviser-to-send-you-their-notes" name="ask-the-adviser-to-send-you-their-notes" asp-for="@Model.AskTheAdviserToSendYouTheirNotes" />
            <govuk-date-input heading-label="false" label="Enter date Note of Visit saved in SharePoint" id="enter-date-note-of-visit-saved-in-sharepoint" name="enter-date-note-of-visit-saved-in-sharepoint" asp-for="@Model.DateNoteOfVisitSavedInSharePoint" hint="For example, 1 7 2024." />
            <button class="govuk-button" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                Save and return
            </button>
        </form>
    </div>
</div>
