@page "/task-list/share-the-improvement-plan-template/{id:int}"
@using Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Models.SupportProject
@using Dfe.Academisation.ExtensionMethods
@model IndexModel

@{
    ViewData["Title"] = "Share the improvement plan template";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l">
            Share the improvement plan template
        </h1>
        <p class="govuk-body">Check for conflicts of interest the potential adviser may have. For example, if the potential adviser used to work for the school or trust involved.</p>
        <form method="post" novalidate>
            <govuk-checkbox-input label="Send the template to the supporting organisation" id="send-the-template-to-the-supporting-organisation" name="send-the-template-to-the-supporting-organisation" asp-for="@Model.SendTheTemplateToTheSupportingOrganisation" />
            <govuk-checkbox-input label="Send the template to the school’s responsible body" id="send-the-template-to-the-schools-responsible-body" name="send-the-template-to-the-schools-responsible-body" asp-for="@Model.SendTheTemplateToTheSchoolsResponsibleBody" />
            <govuk-date-input heading-label="false" label="Enter date templates sent" id="school-contacted-date" name="date-templates-sent" asp-for="@Model.DateTemplatesSent" hint="For example, 1 7 2024." />
            <button class="govuk-button" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                Save and return
            </button>
        </form>
    </div>
</div>