@using Dfe.Academisation.ExtensionMethods
@using Dfe.ManageSchoolImprovement.Application.Common.Models
@using System.Security.Claims
@using System.Globalization

@{
   DateTime createdDate = @Model.CreatedOn;
   DateTime lastInspectionDate = DateTime.ParseExact(Model.LastInspectionDate, "dd/mm/yyyy", CultureInfo.CurrentCulture);
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl" data-cy=".govuk-caption-xl">URN: @Model.SchoolUrn</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2" data-cy="select-heading">
         @Model.SchoolName
      </h1>
</div>

   <div class="govuk-grid-column-full">
      
      <p class="govuk-body govuk-!-margin-bottom-1">
         <b>Date added:</b>
         <a>@createdDate.ToDateString()</a>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-1">
        <b>Date of last inspection:</b>
         @if (@Model.LastInspectionDate == null || string.IsNullOrWhiteSpace(@Model.LastInspectionDate))
         {
            <span data-id="last-inspection" class="empty">Unknown</span>
         }
         else
         {
            <a data-id="last-inspection">@lastInspectionDate.ToDateString()</a>
         }
      </p>
      <p class="govuk-body govuk-!-margin-bottom-1">
         <b>Quality of education:</b>
         <partial name="_OfstedJudgement" model="Model.QualityOfEducation"/>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-1">
         <b>Behaviour and attitudes:</b>
         <partial name="_OfstedJudgement" model="Model.BehaviourAndAttitudes"/>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-1">
         <b>Personal development:</b>
         <partial name="_OfstedJudgement" model="Model.PersonalDevelopment"/>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-1">
         <b>Leadership and management:</b>
         <partial name="_OfstedJudgement" model="Model.LeadershipAndManagement"/>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-1">
         <b>Advised by:</b>
         @if (@Model.AdviserEmailAddress == null || string.IsNullOrWhiteSpace(@Model.AdviserEmailAddress))
         {
            <span data-id="assigned-user" class="empty">Empty</span>
         }
         else
         {
            <a data-id="assigned-user">@Model.AdviserEmailAddress</a>
         }

         <a class="govuk-link govuk-!-padding-left-50" asp-page="@Links.TaskList.AssignAnAdviser.Page" asp-route-id="@Model.Id">Change</a>    
        </p>

        @if (User.IsInRole(Role.Support))
        {
            <p class="govuk-body govuk-!-margin-top-3">
                <a class="govuk-button govuk-button--warning" asp-page="@Links.DeleteProject.ConfirmToDeleteProject.Page" asp-route-id="@Model.Id">Delete school</a>
            </p>
        } 
   </div>
     <div class="govuk-grid-column-full">
         <partial name="_SubMenu" model="@Model"/>
      </div>
   
</div>
