@page "/task-list/due-diligence-preferred-supporting-organisation/{id:int}"
@using DfE.ManageSchoolImprovement.Frontend.Models.SupportProject
@using Dfe.Academisation.ExtensionMethods
@model IndexModel

@{
    ViewData["Title"] = "Carry out due diligence on preferred supporting organisation";
}

@section BeforeMain
{
    <a asp-page="@Links.TaskList.Index.Page" asp-route-id="@Model.SupportProject.Id" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">@Model.SupportProject.SchoolName</span>
        <h1 class="govuk-heading-l">
            Carry out due diligence on preferred supporting organisation
        </h1>
        <p class="govuk-body">Make sure the organisation can provide the necessary support. Add a note to capture any important details.</p>
        <form method="post" novalidate>
            <govuk-checkbox-input label="Check the organisation has capacity and is willing to provide support to this school" id="check-organisation-has-capacity-and-willing-to-provide-support" name="check-organisation-has-capacity-and-willing-to-provide-support" asp-for="@Model.CheckOrganisationHasCapacityAndWillingToProvideSupport" />
            <govuk-checkbox-input label="Speak to trust relationship manager or local authority lead to check choice" id="speak-to-trust-relationship-manager-or-local-authority-lead-to-check-choice" name="speak-to-trust-relationship-manager-or-local-authority-lead-to-check-choice" asp-for="@Model.CheckChoiceWithTrustRelationshipManagerOrLaLead" />
            <govuk-checkbox-input label="Discuss choice with SFSO (Schools Financial Support and Oversight)" id="discuss-choice-with-sfso" name="discuss-choice-with-sfso" asp-for="@Model.DiscussChoiceWithSfso" />
            <govuk-checkbox-input label="Talk to the grant team to check for any known financial concerns at the supporting organisation" id="check-financial-concerns-at-supporting-organisation" name="check-financial-concerns-at-supporting-organisation" asp-for="@Model.CheckFinancialConcernsAtSupportingOrganisation" />
            <govuk-checkbox-input label="Check the organisation has a vendor account so they can be paid" id="check-the-organisation-has-a-vendor-account" name="check-the-organisation-has-a-vendor-account" asp-for="@Model.CheckTheOrganisationHasAVendorAccount" />
            <govuk-date-input heading-label="false" label="Enter date due diligence completed" id="due-diligence-completed-date" name="due-diligence-completed-date" asp-for="@Model.DateDueDiligenceCompleted" hint="For example, 1 7 2024." />
            <button class="govuk-button" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
                Save and return
            </button>
        </form>
    </div>
</div>
